

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}






/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: #ffb03b;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}


 h3 {
  color: #ffb03b;
  font-size:small;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events {
  background: url(../img/خلفية\ 2\ \(1\).jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.events::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.events .section-title h2 {
  color: #fff;
}

.events .container {
  position: relative;
}

@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}

.events .events-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}

.events .event-item {
  color: #fff;
}

.events .event-item h3 {
  font-weight: 600;
  font-size: 24px;
  color: #ffb03b;
}

.events .event-item .price {
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
}

.events .event-item .price span {
  border-bottom: 2px solid #ffb03b;
}

.events .event-item ul {
  list-style: none;
  padding: 0;
}

.events .event-item ul li {
  padding-bottom: 5px;
  text-align: right;
}

.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ffb03b;
}

.events .event-item p:last-child {
  margin-bottom: 0;
}

.events .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.events .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.events .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffb03b;
}

@media (max-width: 991px) {

  .events .event-item h3 {
    font-weight: 400;
    font-size: 20px;
  }
  
  .events .event-item .price {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
  }
  
  .events .event-item .price span {
    border-bottom: 2px solid #ffb03b;
  }
  
  .events .event-item ul {
    list-style: none;
    padding: 0;
  }
  
  .events .event-item ul li {
    padding-bottom: 5px;
    font-size: 12px;
  }
  
  .events .event-item ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #ffb03b;
  }
}